*.cpy zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.cbl zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.bms zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.pli zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.mfs zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.bnd zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.lnk zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.rex zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.txt zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.groovy zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.sh zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.properties zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.asm zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.jcl zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.data zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.exec zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.mac zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.c zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.opt zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.h zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.plx zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.copy zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.lmod zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.dtl zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
*.* zos_working-tree-encoding=ibm-1047 git-encoding=utf-8
